
div.header
{
    color: white;

    background: #0c4d99; /* Old browsers */
    background: -moz-linear-gradient(top, #0c4d99 0%, #0075d6 49%, #006ec9 50%, #0d88e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c4d99), color-stop(49%,#0075d6), color-stop(50%,#006ec9), color-stop(100%,#0d88e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0c4d99 0%,#0075d6 49%,#006ec9 50%,#0d88e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0c4d99 0%,#0075d6 49%,#006ec9 50%,#0d88e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0c4d99 0%,#0075d6 49%,#006ec9 50%,#0d88e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0c4d99 0%,#0075d6 49%,#006ec9 50%,#0d88e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c4d99', endColorstr='#0d88e5',GradientType=0 ); /* IE6-9 */
}

.lg
{
    font-family: 'Clicker Script', cursive;
    font-size: 20px;
}
.lg:before
{
    content: 'Link Guardian';
}
.copyright
{
    margin-top: 15px;
    color: #777777;
    font-style: italic;
}