@font-face {
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  /*src: local('Clicker Script'), local('ClickerScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/clickerscript/v1/Zupmk8XwADjufGxWB9KThLDH3ri20rYH10B2w3wbVeU.woff) format('woff');*/
  src: local('Clicker Script'), local('ClickerScript-Regular'), url(https://linkguardian-blackdog.rhcloud.com/LinkGuardian/font/clicker.woff) format('woff');
}
