
#navigation
{
    cursor: pointer;
}
div.linkpart
{
    /*
      border left et right : 1px et 1px
      padding left et right : 2px et 2px
      largeur total : 1170

                 margins
      1170 - (5 + 10 + 10 + 10 + 5) ==> 1130 / 4 ==> 282,5 ==> 282 - border et padding ==> 276
    */
    width: 276px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: #d2e1ff;
    border-radius: 5px 5px 5px;
    border: 1px solid #0081c2;
    padding: 2px;
    cursor: pointer;
}
div.linkpart.read
{
    background-color: #ddd;
    border-radius: 5px 5px 5px;
    border: 1px solid #888;
}
div.linkpart.read:hover
{
    /*box-shadow: #ccc 5px 5px 5px;*/
}
div.linkpart.selected:not(.read)
{
    background-color: #accdf6;
    border: 1px solid #002a80;
}
div.linkpart.selected:hover:not(.read)
{
    background-color: #accdf6;
    /*box-shadow: #b0c4de 5px 5px 5px;*/
}
div.linkpart:hover:not(.read)
{
    background-color: #ccdbf9;
    /*box-shadow: #b0c4de 5px 5px 5px;*/
}
div.linkpart div.rateAndOperations
{
    float: right;
}
div.linkpart .domain
{
    color: #696969;
}
span.tag
{
    border-radius: 5px 5px 5px;
    margin-right: 1px;
    margin-left: 1px;
    color: white;
    margin-bottom: 1px;
    padding-right: 1px;
    padding-left: 5px;
}
span.description
{
    font-size: smaller;
    line-heighta: 4px;
}
button.close
{
    margin-left: 10px;
    margin-right: 5px;
}
div.linkpart:not(hover) img.raty-cancel,
div.linkpart:not(hover) .visible-on-hover
{
    visibility: hidden;
}
div.linkpart:hover img.raty-cancel,
div.linkpart:hover .visible-on-hover
{
    visibility: visible;
}
button.deleteTagButton
{
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -3px;
    opacity: 0.6;
}
div.linkpart:not(hover) .displayed-on-hover
{
    display: none;
}
div.linkpart:hover .displayed-on-hover
{
    display: inline-block;
}
div.tags /* used to isplay tags with a scroll if a tag name is too long */
{
    overflow:auto;
}
span.tag:not(hover) button.deleteTagButton
{
    visibility: hidden;
}
span.tag:hover button.deleteTagButton
{
    visibility: visible;
}
div.linkpart[data-note="0"] span.rate
{
    visibility: hidden;
}
div.linkpart:hover span.rate
{
    visibility: visible;
}
div.linkpart.read .read
{
    display: none;
}
div.linkpart:not(.read) .unread
{
    display: none;
}
div.actions .icon
{
    opacity: 0.3;
}
div.actions:hover .icon
{
    opacity: 0.7;
}
legend {
    font-size: 17px !important;
    margin-bottom: 10px !important;
}
div.forms
{
    background-color: #ddd;
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
}
.message-box
{
    margin-bottom: 3px;
    margin-top: 3px;
}
div.jqcloud > span
{
    cursor: pointer;
}
#filterByTgContainer *
{
    height: 24px;
    /*padding-top: 0px;*/
}