<plugin name='spring-security-twitter' version='0.4.4' grailsVersion='2.0.0 &gt; *'>
  <author>Igor Artamonov</author>
  <authorEmail>igor@artamonov.ru</authorEmail>
  <title>Twitter Authentication</title>
  <description>Twitter authentication support for the Spring Security plugin.</description>
  <documentation>http://grails.org/plugin/spring-security-twitter</documentation>
  <type>SpringSecurityTwitterGrailsPlugin</type>
  <resources>
    <resource>DefaultTwitterSecurityConfig</resource>
    <resource>com.the6hours.grails.springsecurity.twitter.TwitterAuthController</resource>
    <resource>com.the6hours.grails.springsecurity.twitter.TwitterAuthTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='http://twitter4j.org/maven2' url='http://twitter4j.org/maven2/' />
    <repository name='http://repo1.maven.org/maven2' url='http://repo1.maven.org/maven2/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.twitter4j' name='twitter4j-core' version='2.2.5' />
      <dependency group='org.springframework.security' name='spring-security-core' version='3.0.7.RELEASE' />
      <dependency group='org.springframework.security' name='spring-security-web' version='3.0.7.RELEASE' />
    </runtime>
  </dependencies>
  <plugins>
    <provided>
      <plugin group='org.grails.plugins' name='webxml' version='1.4.1' />
    </provided>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='springSecurityCore' version='1.2.7.2 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>